@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply dark:bg-black font-sans;
  background-color: #f5f5f5;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
